<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Tilapia.Properties.Settings.TilapiaConnectionString"
        connectionString="Data Source=.;Initial Catalog=Tilapia;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="localhost_Tilapia_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=Tilapia" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
